@font-face {
  font-family: 'PublicoWeb';
  src: url('./assets/fonts/Publico-Headline-Web-Bold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Add more @font-face rules for different weights and styles if needed */
